::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/*.ce-chat-title-text {*/
/*    color: #00C181 !important;*/
/*}*/

/*.ce-chat-subtitle-text {*/
/*    color: #00C181 !important;*/
/*}*/

#ce-send-message-button {
    background-color: #00C181 !important;
}

#ce-send-message-button:hover {
    background-color: #046142 !important;
}

.ce-message-date-text {
    color: #00C181 !important;
}

.ce-my-message-bubble {
    background-color: #00C181 !important;
}